/*import font families*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

:root{
    --primary-red: #C85545;
    --primary-red-dark: #A73D2E;

    --secondary-gray:#DDDBD8;
    --secondary-gray-dark: #C6C2BC;
    --secondary-gray-meta: #E0DED5;
    --secondary-gray-light: #f0f0f0;

    --handapparat-normal: #565149;
    --handapparat-hover: #7E766B;

    --toggle-person: #F97979;
    --toggle-institution: #E8EC81;
    --toggle-place: #96FBE4;
    --toggle-work: #9CABFF;
    --toggle-law: #D8D8D8;
    --toggele-quote: #6CE97F;
    --toggle-all: #8A8080;
    --toggle-inactive: #BBBBBB;
    --toggle-intertext: #dfb1b1;

    --text-gray: #2c3e50;
    --text-black: #1e2125;
    --text-white: whitesmoke;

    --comment-brown: #dfd3c3;

    --open-sans-regular: 'Open Sans', sans-serif;

    font-family: var(--open-sans-regular);
}

.semibold {
    font-weight:600;
}

.breadcrumbarrow {
    color: var(--primary-red-dark)
}

.opensans {
    font-family: var(--open-sans-regular);
}

.no-grid-col-container {
    grid-template-columns: unset;
}

.whitespace-break-spaces {
    white-space: break-spaces;
}
